*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
html{
    scroll-behavior: smooth;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
#container{
    max-width: 1140px;
    margin: auto;
}

/* Search section */
#search{
    margin-top: 30px;
}
#search-box > div{
    width: 70%;
    margin: 30px auto 0;
}

#search-top > h3{
    font-weight: 600;
    font-size: 22px;
}
#search-top > h3 +i{
    margin-left: auto;
    margin-right: 8px;
}
#search-top > p{
    margin-right: 10px;
    font-weight: 400;
}
#search-top > div > h3,
#search-top > div > i{
    color: #10847E;
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
/* card section */
.card{
    padding-left: 20px;
}
#card-box > div{
    grid-area: 40px;
    text-align: center;
    overflow: auto;
    /* padding: 2px; */
    gap: 20px;
    padding: 15px;
}
#card-box > div ::-webkit-scrollbar{
    display: none;
}
#card-box > div div{
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}
#card-box > div div:hover{
    box-shadow: lightgrey 0 0 6px;
}
#card-box > div img{
    width: 90px;
}

.iimg{
    transition: all 0.3s;
}

.iimg:hover{
    filter: drop-shadow(rgba(33, 33, 33, 0.06) 0px 3px 4px) drop-shadow(rgba(33, 33, 33, 0.04) 0px 3px 3px) drop-shadow(rgba(33, 33, 33, 0.08) 0px 1px 8px);
}


/* footer css */
#footer{    
    background-color: rgb(234, 241, 255);
    padding: 0px 15px;
    padding-bottom: 60px;
}
#footer h3{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 10px;
}
#footer > div > li{
    font-size: 15px;
    margin: 13px 0;
    cursor: pointer;
}
#footer-top > div:last-child h3{
    margin-bottom: 20px;
}
#footer-top > div:last-child li{
    display: inline;
    margin-right: 12px;
}
#footer-top > div img{
    width: 60px;
}
#footer-bottom{
    margin-top: 50px;
}
#footer-bottom > div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#footer-bottom > div > div{
    margin-right: 10px;
    gap: 5px;
}
#footer-bottom img{
    height: 55px;
}
#footer-bottom > div p{
    margin-left: auto;
    min-width: max-content;
    font-size: 15px;
}