*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
html{
    scroll-behavior: smooth;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
#container{
    max-width: 1140px;
    margin: auto;
}

/* Search section */
#search{
    margin-top: 100px;
}
#search-box > div{
    width: 70%;
    margin: 30px auto 0;
}
#search-top > h3{
    font-weight: 600;
    font-size: 22px;
}
#search-top > h3 +i{
    margin-left: auto;
    margin-right: 8px;
}
#search-top > p{
    margin-right: 10px;
    font-weight: 400;
}
#search-top > div > h3,
#search-top > div > i{
    color: #10847E;
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#search-content{
    margin: 20px 0;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 40px;
    padding: 4px;
    box-shadow: lightgrey 0 0 4px;
}
#search-content > i{
    margin-left: 15px;
}
#search-content > input[type="text"]{
    margin: auto 20px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 81%;
}
#search-content > input[type="submit"]{
    background-color: #10847E;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 35px;
}
#search-content > input::placeholder{
    font-size: 16px;
}

/* card section */
.card{
    padding-left: 20px;
}
#card-box > div{
    grid-area: 40px;
    text-align: center;
    overflow: auto;
    /* padding: 2px; */
    gap: 20px;
    padding: 15px;
}
#card-box > div ::-webkit-scrollbar{
    display: none;
}
#card-box > div div{
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}
#card-box > div div:hover{
    box-shadow: lightgrey 0 0 6px;
}
#card-box > div img{
    width: 90px;
}

/* shop by concern css */
#shop-concern{
    margin: 50px 0px;
}
#shop-concern #title{
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0px;
}
#shop-concern #sub-title{
    font-size: 16px;
    margin: 0px 0px 15px;
}
#shop-concern #container > div{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 50px;
}
#shop-concern #container > div > div > img{
    width: 100%;
    border-radius: 100%;
}
#shop-concern > div > div{
    cursor: pointer;
    text-align: center;
}
#shop-concern div > div > img:hover{
    box-shadow: var(--box-shadow);
}
#shop-concern #container > div > div > h3{
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* why choose us css */
#choose-us{
    padding: 50px 0px;
    background-color: rgb(241, 247, 255);
}
#choose-us #title{
    font-size: 26px;
    font-weight: 600;
    padding: 20px 0px 50px;
}
#choose-us #container > div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
#choose-us #container > div > div{
    display: flex;
    align-items: center;
}
#choose-us #choose-content{
    margin-left: 20px;
}
#choose-us > div > div img{
    height: 80px;
}
#choose-us #choose-content h2{
    font-size: 24px;
    font-weight: 500;
}
#choose-us #choose-content p{
    font-size: 15px;
    font-weight: 400;
}

/* pharmesy app css */
#app{
    margin: 80px 0px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url(../img/downloadBanner.webp) rgb(224, 255, 248);
    background-size: cover;
}
#app h1{
    font-size: 25px;
}
#app h3{
    line-height: 80px;
    font-size: 25px;
}
#app #container > div{
    gap: 50px;
}
#app img{
    width: 180px;
    cursor: pointer;
}
/* footer css */
#footer{    
    background-color: rgb(234, 241, 255);
    padding-bottom: 60px;
}
#footer h3{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 10px;
}
#footer > div > li{
    font-size: 15px;
    margin: 13px 0;
    cursor: pointer;
}
#footer-top > div:last-child h3{
    margin-bottom: 20px;
}
#footer-top > div:last-child li{
    display: inline;
    margin-right: 12px;
}
#footer-top > div img{
    width: 60px;
}
#footer-bottom{
    margin-top: 50px;
}
#footer-bottom > div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#footer-bottom > div > div{
    margin-right: 10px;
    gap: 5px;
}
#footer-bottom img{
    height: 55px;
}
#footer-bottom > div p{
    margin-left: auto;
    min-width: max-content;
    font-size: 15px;
}